.search_result {
  display: flex;
  position: relative;
  margin: 20px;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  cursor: pointer;
}

.search_result:hover {
  opacity: 0.8;
}

.search_result > img {
  height: 200px;
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.search_result_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.search_result_heart {
  position: absolute;
  top: 20px;
  right: 40px;
}

.search_result_info_top {
  width: 40vw;
}

.search_result_info_top > h3 {
  font-weight: 500;
  margin-top: 10px;
}

.search_result_info_top > p {
  margin-top: 10px;
  font-size: 13px;
  color: gray;
}

.search_result_info_bottom {
  display: flex;
  justify-content: space-between;
}

.search_result_star {
  color: green;
}

.search_result_stars {
  display: flex;
  align-items: center;
}

.search_result_price > p {
  text-align: right;
}

.search_result_price {
  position: absolute;
  bottom: 20px;
  right: 30px;
}
